.main
  flex: 1 0 auto
  width: 100%
  height: 100%
  padding: 15px 0 15px 0
  background-color: rgb(90, 235, 172)
  color: #000

.trowButton
  height: 30px
  width: 120px
  font-size: 14px
  cursor: pointer
  border-radius: 5px
  background-color: #eb8d8d
