.window
  position: absolute
  bottom: -1px
  transform: translateY(100%)
  left: 1px
  width: 300px
  padding: 20px
  border: 1px solid #000
  background-color: #c6f7b0

.fieldset
  text-align: left
  margin-bottom: 20px
  display: flex
  flex-direction: column
  row-gap: 10px

.fieldsetTitle
  text-align: center

.buttonsWrap
  display: flex
  justify-content: center
  column-gap: 20px
