.CardDetails
  padding: 5px
  min-width: 400px
  min-height: 200px
  background-color: blue

.closeButton
  background-color: #7bccef
  padding: 3px 10px
  font-size: 18px
  font-weight: bold

.DetailsDataPanel
  display: flex
  justify-content: center

.DetailsData
  margin-top: 10px
  color: #fff

.GameImage
  max-width: 100%
