.search
  display: inline-flex
  align-items: center
  &Input
    background-color: rgb(90, 235, 172)
    color: #000
    font-size: 18px
    width: 120px
    margin-right: 2px

.findButton
  width: 32px
  height: 32px
  cursor: pointer
  border-radius: 5px
  border: 2px solid #fff
  background: #005bff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23fff' d='M9.996 17.991a7.996 7.996 0 117.995-7.995 1 1 0 01-2 0 5.996 5.996 0 10-1.756 4.24l.707-.708 7.115 7.115a1 1 0 01-1.414 1.414l-5.745-5.745a7.967 7.967 0 01-4.902 1.68z'/%3E%3C/svg%3E") no-repeat center
  background-size: 80%
  &:hover
    background-color: #004ed6
