.table
  max-width: fit-content
  background-color: #fff
  border: 3px solid #b3b3b3
  overflow-x: auto
  overflow-y: hidden

.dataWrap
  width: min-content
  max-height: 700px
  overflow-y: auto
  overflow-x: hidden
  scroll-behavior: smooth
