.inputDataArea
  display: flex
  align-items: center
  flex-wrap: wrap
  gap: 20px 30px
  margin-top: 10px
  margin-bottom: 20px

.inputItem
  display: flex
  column-gap: 10px

.inputWrapper
  position: relative
  & > input
    font-size: 16px

.errorMessage
  position: absolute
  top: 24px
  left: 2px
  font-size: 12px
  text-align: left
